<a href="https://colab.research.google.com/github/sangeerthP-10/Data_Science_Internship/blob/main/data_science_internship_(day_6).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional Statement

If else

In [1]:
city="bangalore"
if city=="bangalore":
  print("Welcome to Bangalore")
else:
  print("Habibi! Come to bangalore")

Welcome to Bangalore

In [2]:
city="pune"
if city=="bangalore":
  print("Welcome to Bangalore")
else:
  print("Habibi! Come to bangalore")

Habibi! Come to bangalore

If ,else and elif

In [4]:
city="Mumbai"
if city=="New Delhi":
  print("Welcome to the Indian Capital")
elif city=="Mumbai":
  print("welcome to the financial capital of india")
else:
  print("Where arre you?Habibi! Come to bangalore")

welcome to the financial capital of india

In [5]:
q=-3
if q>0:
  print("Greater than zero")
elif q==0:
  print("Zero")
else:
  print("Lesser than zero")

Lesser than zero

Nested if else

In [12]:
a=-3
if a>=0:
  if a==0:
    print("zero")
  else:
    print("Greater than zero")
else:
  print("Lesser than zero")

Lesser than zero

In [11]:
a=10
if a>=0:
  if a==0:
    print("zero")
  else:
    print("Greater than zero")
else:
  print("Lesser than zero")

Greater than zero

In [10]:
a=0
if a>=0:
  if a==0:
    print("zero")
  else:
    print("Greater than zero")
else:
  print("Lesser than zero")

zero

Loop Statement

While and for

In [18]:
x=0
while x<=5:
  print(x)
  x+=1
print("I came out of loop")
print(f"{x} is not lesser than or equal to 5")

0
1
2
3
4
5
I came out of loop
6 is not lesser than or equal to 5

In [22]:
for x in range(0,12):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11

In [21]:
listt=["apple","orange","cat",222,123,45.0,True]
print(listt)
for item in listt:
  print(item)

['apple', 'orange', 'cat', 222, 123, 45.0, True]
apple
orange
cat
222
123
45.0
True

In [25]:
number_list=[1,2,3,4,5,6,7,8,9,10,11,12]

In [27]:
for number in number_list:
  square=number**2
  print(f" The square of {number} is {square}")

 The square of 1 is 1
 The square of 2 is 4
 The square of 3 is 9
 The square of 4 is 16
 The square of 5 is 25
 The square of 6 is 36
 The square of 7 is 49
 The square of 8 is 64
 The square of 9 is 81
 The square of 10 is 100
 The square of 11 is 121
 The square of 12 is 144

In [28]:
for index,number in enumerate(number_list):
  square=number**2
  print(f" {index} The square of {number} is {square}")

 0 The square of 1 is 1
 1 The square of 2 is 4
 2 The square of 3 is 9
 3 The square of 4 is 16
 4 The square of 5 is 25
 5 The square of 6 is 36
 6 The square of 7 is 49
 7 The square of 8 is 64
 8 The square of 9 is 81
 9 The square of 10 is 100
 10 The square of 11 is 121
 11 The square of 12 is 144