<a href="https://colab.research.google.com/github/sangeerthP-10/Data_Science_Internship/blob/main/Data_science_internship_(day_7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Break and Continue

In [1]:
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [2]:
i=1
while i<=10:
  print(f"6 * {i} = {6*i}" )
  if i>5:
    break
  i=i+1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36

In [4]:
for i in range(10):
  if i==3 or i==6:
    continue
  print(i)

0
1
2
4
5
7
8
9

In [5]:
#print even number
a=0
while a<10:
  a+=1
  if a%2!=0:
    continue
  print(a)

2
4
6
8
10

In [6]:
#print odd number
a=0
while a<10:
  a+=1
  if a%2==0:
    continue
  print(a)

1
3
5
7
9

List

In [7]:
fruits=["apple","mango","orange","banana"]
print(fruits)
print(len(fruits))
print(type(fruits))

['apple', 'mango', 'orange', 'banana']
4
<class 'list'>

In [8]:
for fruit in fruits:
  print(fruit)

apple
mango
orange
banana

In [15]:
print(fruits[0])
print(fruits[-1])
print(fruits[0:])
print(fruits[3:])
print(fruits[::-1])
print(fruits[::2])
print(fruits[-2:])
print(fruits[0:3])

apple
banana
['apple', 'mango', 'orange', 'banana']
['banana']
['banana', 'orange', 'mango', 'apple']
['apple', 'orange']
['orange', 'banana']
['apple', 'mango', 'orange']